<!DOCTYPE html>
<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments :: header}">

    <title>Pay Bills</title>
</head>
<body>

<div class="loader" id="loader">
    <div class="loader-inner"></div>
</div>

<header th:insert="~{dashboard :: headerfast}"></header>
<div th:insert="~{dashboard :: sidebarfast}"></div>

<div class="main-send-money">
    <div th:if="${errorMessage}" class="alert-fast" role="alert">
        <span th:text="${errorMessage}">Error message</span>
    </div>

    <div class="row no-gutters">
        <!--        THE MODULE/TOGGLE DIV-->
        <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="send-money-module">
                <div class="send-money-title">Cable Tv</div>
                <div id="send-money-min" class="send-money-mini">
                    <a class="" onclick="toggleGotv()">
                    <span class="send-money-span">
                    GoTv</span>
                        <span class="send-money-mini-svg"> <svg viewBox="0 0 129 129" version="1.1"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path fill="#fff"
                                      d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"></path>
                            </g>
                        </svg> </span>
                    </a>
                </div>
                <div id="send-money-min-1" class="send-money-mini">
                    <a class="" onclick="toggleDstv()">
                    <span class="send-money-span">
                    DsTv</span>
                        <span class="send-money-mini-svg"> <svg viewBox="0 0 129 129" version="1.1"
                                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path fill="#fff"
                                      d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"></path>
                            </g>
                        </svg> </span>
                    </a>
                </div>

                <!--ELECTRICITY-->
                <div class="send-money-module">
                    <div class="receive-money-title">Electricity</div>
                    <div id="receive-money-min-2" class="send-money-mini">
                        <a class="" onclick="toggleElectricity()">
                    <span class="send-money-span">
                   Electricity Top Up</span>
                            <span class="send-money-mini-svg"> <svg viewBox="0 0 129 129" version="1.1"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    xmlns="http://www.w3.org/2000/svg">
                            <g>
                                <path fill="#fff"
                                      d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"></path>
                            </g>
                        </svg> </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!--        THE GOTV DIV-->
        <div id="gotv" class="col-md-5 col-sm-12 col-xs-12" style="display: none">

            <div class="send-money"> <!-- MAIN SEND MONEY DIV-->

                <div class="transfer-money-title"> <!-- SEND MONEY TITLE-->
                    Gotv
                </div>

                <div class="transfer-money-form"> <!-- SEND TRANSFER MONEY-->

                    <div class="col-md-12">
                        <div class="form-transfer-money">
                            <div class="transfer-money-block">
                                <div class="payment-block">
                                    <form method="post" th:object="${gotvForm}"
                                          th:action="@{/gotv-form}">

                                        <div class="mb-4">
                                            <label for="select-account" class="label-span">Select Account</label>
                                            <select id="select-account" class="form-control-send-money mb-3"
                                                    th:field="*{debitAccount}">
                                                <option selected value="0"> -- Select Account --
                                                </option>
                                                <option style="background-color: #D1D0CE"
                                                        th:each="accountBalance : ${accountBalanceResponse}"
                                                        th:text="${accountBalance.getAccountNumber()}"
                                                        th:value="${accountBalance.getAccountNumber()}"></option>
                                            </select>
                                        </div>

                                        <div class="mb-4">
                                            <label for="my-select" class="label-span">Select Gotv Plan</label>
                                            <select id="my-select" class="form-control-send-money mb-3"
                                                    th:field="*{dataPlans}" onchange="updateInputValueGotv()">
                                                <option selected value="0"> -- Select Gotv Plan --
                                                </option>
                                                <option style="background-color: #D1D0CE"
                                                        th:each="gotv : ${gotvBillerPlan}"
                                                        th:text="${gotv.getBouquet() + ' ' + gotv.getMonthlyAmount()}"
                                                        th:value="${gotv.getBillerId()+','+gotv.getMonthlyAmount()+','+gotv.getProductId()+ ','+ gotv.getBouquet()}"></option>
                                            </select>
                                        </div>

                                        <div class="mb-4">
                                            <label for="inputField" class="label-span">Amount</label>
                                            <input id="inputField" class="form-control-send-money" placeholder=""
                                                   readonly
                                                   th:value="${selectedOptionGotv}" th:field="*{amount}">
                                        </div>
                                        <div class="mb-4">
                                            <label for="gotv-name-enquiry" class="label-span">SmartCard Number</label>
                                            <span
                                                    id="localName" class="float-right"></span>
                                            <input id="gotv-name-enquiry" class="form-control-send-money" maxlength="10"
                                                   placeholder="" th:field="*{smartCardNumber}">
                                        </div>
                                        <div class="mb-4">
                                            <input class="submit-send-money" type="submit" placeholder="Proceed" onclick="showLoader()">
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>


        <!--        THE DSTV DIV-->
        <div id="dstv" class="col-md-5 col-sm-12 col-xs-12" style="display: none">

            <div class="send-money"> <!-- MAIN SEND MONEY DIV-->

                <div class="transfer-money-title"> <!-- SEND MONEY TITLE-->
                    Dstv
                </div>


                <div class="transfer-money-form"> <!-- SEND TRANSFER MONEY-->

                    <div class="col-md-12">
                        <div class="form-transfer-money">
                            <div class="transfer-money-block">
                                <div class="payment-block">
                                    <form method="post" th:object="${dstvForm}"
                                          th:action="@{/dstv-form}">
                                        <div class="mb-4">
                                            <label for="select-account" class="label-span">Select Account</label>
                                            <select id="select-account-others" class="form-control-send-money mb-3"
                                                    th:field="*{debitAccount}">
                                                <option selected value="0"> -- Select Account --
                                                </option>
                                                <option style="background-color: #D1D0CE"
                                                        th:each="accountBalance : ${accountBalanceResponse}"
                                                        th:text="${accountBalance.getAccountNumber()}"
                                                        th:value="${accountBalance.getAccountNumber()}"></option>
                                            </select>
                                        </div>
                                        <div class="mb-4">
                                            <label for="my-select-2" class="label-span">Select Dstv Plan</label>
                                            <select id="my-select-2" class="form-control-send-money mb-3"
                                                    onchange="updateInputValueDstv()"
                                                    th:field="*{dataPlans}">
                                                <option selected value="0"> -- Select DsTV Plan --
                                                </option>
                                                <option style="background-color: #D1D0CE"
                                                        th:each="dstv : ${dstvBillerPlan}"
                                                        th:text="${dstv.getBouquet() + ' ' + dstv.getMonthlyAmount()}"
                                                        th:value="${dstv.getBillerId() + ',' + dstv.getMonthlyAmount() + ',' + dstv.getProductId()+','+ dstv.getBouquet()}"></option>
                                            </select>
                                        </div>

                                        <div class="mb-4">
                                            <label for="amount-others" class="label-span">Amount</label>
                                            <input id="amount-others" class="form-control-send-money" placeholder=""
                                                   readonly th:value="${selectedOptionDstv}"
                                                   th:field="*{amount}">
                                        </div>
                                        <div class="mb-4">
                                            <label for="account_others" class="label-span">SmartCard Number</label>
                                            <span id="otherName" class="float-right"></span>
                                            <input id="account_others" class="form-control-send-money" maxlength="10"
                                                   placeholder="" th:field="*{smartCardNumber}">
                                        </div>
                                        <div class="mb-4">
                                            <input class="submit-send-money" type="submit" placeholder="Proceed" onclick="showLoader()">
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>


        <!--        ELECTRICITY DIV HERE -->
        <div id="electricity" class="col-md-5 col-sm-12 col-xs-12" style="display: none">

            <div class="send-money"> <!-- MAIN SEND MONEY DIV-->

                <div class="transfer-money-title"> <!-- SEND MONEY TITLE-->
                    Electricity
                </div>

                <div class="transfer-money-form"> <!-- ELECTRICITY-->

                    <div class="col-md-12">
                        <div class="form-transfer-money">
                            <div class="transfer-money-block">
                                <div class="payment-block">
                                    <form method="post" th:object="${electricityForm}"
                                          th:action="@{/electricity-form}">

                                        <div class="mb-4">
                                            <label for="select-account" class="label-span">Select Account</label>
                                            <select id="select-electricity" class="form-control-send-money mb-3"
                                                    th:field="*{debitAccount}">
                                                <option selected value="0"> -- Select Account --
                                                </option>
                                                <option style="background-color: #D1D0CE"
                                                        th:each="accountBalance : ${accountBalanceResponse}"
                                                        th:text="${accountBalance.getAccountNumber()}"
                                                        th:value="${accountBalance.getAccountNumber()}"></option>
                                            </select>
                                        </div>
                                        <!--                                        <div class="mb-4">-->
                                        <!--                                            <label for="select-account" class="label-span">Select Biller</label>-->
                                        <!--                                            <select id="biller" class="form-control-send-money mb-3"-->
                                        <!--                                                    th:field="*{biller}">-->
                                        <!--                                                <option selected value="1"> &#45;&#45; Select Biller &#45;&#45;</option>-->
                                        <!--                                                <option class="account_number" style="background-color: #D1D0CE"-->
                                        <!--                                                        th:value="'E02E'">-->
                                        <!--                                                    Eko-->
                                        <!--                                                </option>-->
                                        <!--                                                <option class="account_number" style="background-color: #D1D0CE"-->
                                        <!--                                                        th:value="'Ikeja'">-->
                                        <!--                                                    Ikeja-->
                                        <!--                                                </option>-->
                                        <!--                                                <option class="account_number" style="background-color: #D1D0CE"-->
                                        <!--                                                        th:value="'Ibadan'">-->
                                        <!--                                                    Ibadan-->
                                        <!--                                                </option>-->
                                        <!--                                                <option class="account_number" style="background-color: #D1D0CE"-->
                                        <!--                                                        th:value="'Enugu'">-->
                                        <!--                                                    Enugu-->
                                        <!--                                                </option>-->
                                        <!--                                                <option class="account_number" style="background-color: #D1D0CE"-->
                                        <!--                                                        th:value="'Phed'">-->
                                        <!--                                                    Phed-->
                                        <!--                                                </option>-->
                                        <!--                                            </select>-->
                                        <!--                                        </div>-->
                                        <div class="mb-4">
                                            <label for="biller-plan" class="label-span">Select Electricity
                                                Biller</label>
                                            <select id="biller-plan" class="form-control-send-money mb-3"
                                                    th:field="*{electricityBillerSelect}">
                                                <option selected value="0"> -- Select Electricity Biller --
                                                </option>
                                                <option style="background-color: #fff"
                                                        th:each="electricity : ${electricityBillers}"
                                                        th:text="${electricity.getPackageName() + ' ' + electricity.getBouquet()}"
                                                        th:value="${electricity.getBiller() + ',' + electricity.getPackageName()}"></option>
                                            </select>

                                        </div>

                                        <div class="mb-4">
                                            <label for="amount-others" class="label-span">Amount</label>
                                            <input id="amount" class="form-control-send-money" placeholder=""
                                                   th:field="*{amount}">
                                        </div>
                                        <div class="mb-4">
                                            <label for="account_others" class="label-span">Meter Number</label>
                                            <span id="electricity-name" class="float-right"></span>
                                            <input id="meter-number" class="form-control-send-money"
                                                   maxlength="10"
                                                   placeholder="" th:field="*{meterNumber}">
                                        </div>
                                        <div class="mb-4">
                                            <input class="submit-send-money" type="submit" placeholder="Proceed" onclick="showLoader()">
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>


        <!--        THE CONFIRM GOTV DIV-->
        <div id="confirmGotv" class="col-md-5 col-sm-12 col-xs-12" th:if="${submitted}">
            <div class="send-money"> <!-- MAIN SEND MONEY DIV-->

                <div class="confirm-money-title"> <!-- SEND MONEY TITLE-->
                    Confirm Transaction
                </div>

                <div class="confirm-money-form"> <!-- SEND TRANSFER MONEY-->
                    <div class="col-md-12">
                        <div class="form-confirm-money">
                            <div class="confirm-money-block">
                                <div class="confirm-block">
                                    <form id="gotvForm" method="post" th:object="${gotvFormPin}"
                                          th:action="@{/gotv}">
                                        <div id="resultMessageGotv" class="alert-fast" style="display:none;"></div>
                                        <div class="mb-4" th:object="${gotvTxnData}">
                                            <div class="mb-2"><span>Transaction Type</span> <span class="float-right"> GoTV Top Up</span>
                                            </div>
                                            <div class="mb-2"><span>SmartCard Number</span> <span class="float-right"
                                                                                                  th:text="${gotvTxnData.getSmartCardNumber()}"></span>
                                            </div>
                                            <div class="mb-2"><span>Bouquet</span> <span class="float-right"
                                                                                         th:text="${bouquet}"></span>
                                            </div>
                                            <div class="mb-2"><span>Amount</span> <span class="float-right"
                                                                                        th:text="${gotvTxnData.getAmount()}"></span>
                                            </div>
                                            <div class="mb-2"><span>Date</span> <span class="float-right"
                                                                                      th:text="${gotvTxnData.getDate()}"></span>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <label for="pin" class="confirm-pin">Enter PIN</label>
                                            <input id="pin" type="password" class=""
                                                   style="align-items: center; text-align: center; width: 200px"
                                                   maxlength="4"
                                                   placeholder="" th:field="*{pin}">
                                        </div>
                                        <div class="mb-4">
                                            <input class="submit-comfirm-money" type="submit" placeholder="Submit">
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>

        <!--        THE CONFIRM OTHERS TRANSFER DIV-->
        <div id="confirmDstv" class="col-md-5 col-sm-12 col-xs-12" th:if="${submitDstv}">
            <div class="send-money"> <!-- MAIN SEND MONEY DIV-->

                <div class="confirm-money-title"> <!-- SEND MONEY TITLE-->
                    Confirm Transaction
                </div>

                <div class="confirm-money-form"> <!-- SEND TRANSFER MONEY-->
                    <div class="col-md-12">
                        <div class="form-confirm-money">
                            <div class="confirm-money-block">
                                <div class="confirm-block">
                                    <form id="dstvForm" method="post" th:object="${dstvFormPin}"
                                          th:action="@{/dstv}">
                                        <div id="resultMessageDstv" class="alert-fast" style="display:none;"></div>
                                        <div class="mb-4" th:object="${dstvTxnData}">
                                            <div class="mb-2"><span>Transaction Type</span> <span class="float-right"> DsTV Top Up</span>
                                            </div>
                                            <div class="mb-2"><span>SmartCard Number</span> <span class="float-right"
                                                                                                  th:text="${dstvTxnData.getSmartCardNumber()}"></span>
                                            </div>
                                            <div class="mb-2"><span>Bouquet</span> <span class="float-right"
                                                                                         th:text="${bouquet}"></span>
                                            </div>
                                            <div class="mb-2"><span>Amount</span> <span class="float-right"
                                                                                        th:text="${dstvTxnData.getAmount()}"></span>
                                            </div>
                                            <div class="mb-2"><span>Date</span> <span class="float-right"
                                                                                      th:text="${dstvTxnData.getDate()}"></span>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <label for="pin" class="confirm-pin">Enter PIN</label>
                                            <input id="pin-others" type="password" class=""
                                                   style="align-items: center; text-align: center; width: 200px"
                                                   maxlength="4"
                                                   placeholder="" th:field="*{pin}">
                                        </div>
                                        <div class="mb-4">
                                            <input class="submit-comfirm-money" type="submit" placeholder="Submit">
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>

        <!--        THE CONFIRM ELECTRICITY TRANSFER DIV-->
        <div id="confirmElectricity" class="col-md-5 col-sm-12 col-xs-12" th:if="${submittedElectricity}">
            <div class="send-money"> <!-- -->

                <div class="confirm-money-title"> <!-- -->
                    Confirm Transaction
                </div>

                <div class="confirm-money-form">
                    <div class="col-md-12">
                        <div class="form-confirm-money">
                            <div class="confirm-money-block">
                                <div class="confirm-block">
                                    <form id="electricityForm" method="post" th:object="${electricityFormPin}"
                                          th:action="@{/electricity}">
                                        <div id="resultMessageElectricity" class="alert-fast"
                                             style="display:none;"></div>
                                        <div class="mb-4" th:object="${electricityTxnData}">
                                            <div class="mb-2"><span>Transaction Type</span> <span class="float-right"> Electricity Top Up</span>
                                            </div>
                                            <div class="mb-2"><span>Meter Number</span> <span class="float-right"
                                                                                              th:text="${electricityTxnData.getMeterNumber()}"></span>
                                            </div>
                                            <div class="mb-2"><span>Package</span> <span class="float-right"
                                                                                         th:text="${package}"></span>
                                            </div>
                                            <div class="mb-2"><span>Amount</span> <span class="float-right"
                                                                                        th:text="${electricityTxnData.getAmount()}"></span>
                                            </div>
                                            <div class="mb-2"><span>Date</span> <span class="float-right"
                                                                                      th:text="${electricityTxnData.getDate()}"></span>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <label for="pin" class="confirm-pin">Enter PIN</label>
                                            <input id="pin-electricity" type="password" class=""
                                                   style="align-items: center; text-align: center; width: 200px"
                                                   maxlength="4"
                                                   placeholder="" th:field="*{pin}">
                                        </div>
                                        <div class="mb-4">
                                            <input class="submit-comfirm-money" type="submit" placeholder="Submit">
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">

    //Name Enquiry for GOTV
    $(document).ready(function () {
        $('#gotv-name-enquiry').on('input', function () {
            const cardNumber = $(this).val();
            console.log("GOTV " + cardNumber)
            if (cardNumber.length === 10) {
                if (cardNumber.match(/^[0-9]+$/)) {
                    showLoader();
                    $.ajax({
                        type: 'GET',
                        url: `/validate/gotv/${cardNumber}`,// URL of the controller method
                        success: function (response) {
                            // Update the view with the response data
                            hideLoader();
                            $('#localName').text(response);
                            console.log(response);
                            console.log(response.toString())
                        },
                        error: function (error) {
                            hideLoader();
                            $('#localName').text("Invalid");
                        }
                    });

                } else {
                    hideLoader();
                    $('#localName').text("Invalid");
                }
            }
        });
    });

    //Name Enquiry For DSTV
    $(document).ready(function () {
        $('#account_others').on('input', function () {
            const cardNumber = $(this).val();
            console.log(cardNumber + " DSTV")
            if (cardNumber.length === 10) {
                if (cardNumber.match(/^[0-9]+$/)) {
                    showLoader();
                    $.ajax({
                        type: 'GET',
                        url: `/validate/dstv/${cardNumber}`,// URL of the controller method
                        success: function (response) {
                            hideLoader();
                            // Update the view with the response data
                            $('#otherName').text(response);
                            console.log(response);
                            console.log(response.toString())
                        },
                        error: function (error) {
                            hideLoader();
                            $('#otherName').text("Invalid");
                        }
                    });

                } else {
                    hideLoader();
                    $('#othersName').text("Invalid");
                }
            }
        });
    });

    //Name Enquiry For ELECTRICITY
    $(document).ready(function () {
        $('#meter-number').on('input', function () {
            let biller = $("#biller-plan").val();
            biller = biller.split(",")[0];
            const meterNumber = $(this).val();
            console.log(biller + " ELECTRICITY BILLER");
            console.log(meterNumber + " meter number");
            if (meterNumber.length === 10) {
                if (meterNumber.match(/^[0-9]+$/)) {
                    showLoader();
                    $.ajax({
                        type: 'GET',
                        url: `/validate/electricity/${meterNumber}/${biller}`,// URL of the controller method
                        success: function (response) {
                            hideLoader();
                            // Update the view with the response data
                            $('#electricity-name').text(response);
                            console.log(response);
                            console.log(response.toString())
                        },
                        error: function (error) {
                            hideLoader();
                            $('#electricity-name').text("Invalid");
                        }
                    });

                } else {
                    hideLoader();
                    $('#electricity-name').text("Invalid");
                }
            }
        });
    });

    //ELECTRICITY PLANS (NO LONGER USED)
    $(document).ready(function () {
        $('#biller').on('change', function () {
            const biller = $("#biller").val();
            console.log(biller + " SELECTED BILLER");
            $.ajax({
                type: 'GET',
                url: `/electricity/{biller}`,// URL of the controller method
                success: function (response) {
                    const responseJson = JSON.parse(response);
                    console.log(responseJson)
                    //Update the view with the response data
                    let options = "";
                    if (responseJson.responseCode === "00") {
                        responseJson.biller.forEach(function (item) {
                            options += `<option value="${item.id}">${item.packageName}</option>`;
                            // console.log(option)
                        })
                        console.log(options);
                        // $("#biller-plan").html(options)
                    } else {
                        // $("#biller-plan").html(responseJson.getErrorMessage)
                    }
                }, error(response) {
                    const responseJson = JSON.parse(response);
                    // $("#biller-plan").html(responseJson.getErrorMessage)
                }
            });
        });
    });

    // SUBMIT FORM FOR ELECTRICITY
    $(document).ready(function () {
        $('#electricityForm').submit(function (event) {
            event.preventDefault();
            const form = $(this);
            showLoader();
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    if (response === "00") {
                        window.location.href = '/success'; //change to success page
                    } else {
                        hideLoader();
                        const resultSection = $('#resultSection');
                        const resultMessage = $('#resultMessageElectricity');
                        showErrorMessageElect();
                        resultMessage.text(response);
                        resultSection.show();
                    }
                },
                error: function (xhr) {
                    hideLoader();
                    const resultSection = $('#resultSection');
                    const resultMessage = $('#resultMessageElectricity');
                    const retryButton = $('#retryButton');
                    showErrorMessageElect();
                    resultMessage.text(xhr.responseText);
                    resultSection.show();
                    retryButton.show();
                }
            });
        });
    });

    // SUBMIT FORM FOR GOTV
    $(document).ready(function () {
        $('#gotvForm').submit(function (event) {
            event.preventDefault();
            const form = $(this);
            showLoader();
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    if (response === "00") {
                        window.location.href = '/success'; //change to success page
                    } else {
                        hideLoader();
                        const resultSection = $('#resultSection');
                        const resultMessage = $('#resultMessageGotv');
                        const retryButton = $('#retryButton');
                        showErrorMessageGotv();
                        resultMessage.text(response);
                        resultSection.show();
                        retryButton.show();
                    }
                },
                error: function (xhr) {
                    hideLoader();
                    const resultSection = $('#resultSection');
                    const resultMessage = $('#resultMessageGotv');
                    const retryButton = $('#retryButton');
                    showErrorMessageGotv();
                    resultMessage.text(xhr.responseText);
                    resultSection.show();
                    retryButton.show();
                }
            });
        });
    });

    // SUBMIT FORM FOR DSTV
    $(document).ready(function () {
        $('#dstvForm').submit(function (event) {
            event.preventDefault();
            const form = $(this);
            showLoader();
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function (response) {
                    if (response === "00") {
                        window.location.href = '/success'; //change to success page
                    } else {
                        hideLoader();
                        const resultSection = $('#resultSection');
                        const resultMessage = $('#resultMessageDstv');
                        const retryButton = $('#retryButton');
                        showErrorMessageDstv();
                        resultMessage.text(response);
                        resultSection.show();
                        retryButton.show();
                    }
                },
                error: function (xhr) {
                    hideLoader();
                    const resultSection = $('#resultSection');
                    const resultMessage = $('#resultMessageDstv');
                    const retryButton = $('#retryButton');
                    showErrorMessageDstv()
                    resultMessage.text(xhr.responseText);
                    resultSection.show();
                    retryButton.show();
                }
            });
        });
    });

</script>

<script>
    //TOGGLE GOTV
    function toggleGotv() {
        hideConfirmDstv();
        hideConfirmElectricity();
        hideConfirmGotv();
        const contentDiv = document.getElementById("gotv");
        const contentOthers = document.getElementById("dstv");
        const contentElect = document.getElementById("electricity");
        if (contentDiv.style.display === "none") {
            contentDiv.style.display = "block";
            contentOthers.style.display = "none";
            contentElect.style.display = "none";
        } else {
            contentDiv.style.display = "none";
            contentOthers.style.display = "none";
            contentElect.style.display = "none";
        }
    }

    //TOGGLE DSTV
    function toggleDstv() {
        hideConfirmDstv();
        hideConfirmElectricity();
        hideConfirmGotv();
        const contentDiv = document.getElementById("dstv");
        const contentOthers = document.getElementById("gotv");
        const contentElect = document.getElementById("electricity");
        if (contentDiv.style.display === "none") {
            contentDiv.style.display = "block";
            contentOthers.style.display = "none";
            contentElect.style.display = "none";
        } else {
            contentDiv.style.display = "none";
            contentOthers.style.display = "none";
            contentElect.style.display = "none";
        }
    }

    //TOGGLE ELECTRICITY
    function toggleElectricity() {
        hideConfirmDstv();
        hideConfirmElectricity();
        hideConfirmGotv();
        const contentDiv = document.getElementById("electricity");
        const contentOthers = document.getElementById("gotv");
        const contentLocal = document.getElementById("dstv");
        if (contentDiv.style.display === "none") {
            contentDiv.style.display = "block";
            contentOthers.style.display = "none";
            contentLocal.style.display = "none";
        } else {
            contentDiv.style.display = "none";
            contentOthers.style.display = "none";
            contentLocal.style.display = "none";
        }

    }


    //UPDATE AMOUNT FIELD FOR GOTV
    function updateInputValueGotv() {
        const selectedOptionArray = document.getElementById("my-select").value;
        console.log(selectedOptionArray + " the array to be split")
        const selectedOptionArraySplit = selectedOptionArray.split(",");
        console.log(selectedOptionArraySplit)
        if (typeof selectedOptionArraySplit === "string" && selectedOptionArraySplit.trim().length === 0) {
            const selectedOption = "empty";
            document.getElementById("inputField").value = selectedOption;
            console.log(selectedOption)
        } else {
            // const selectedOption = document.getElementById("selectOption").value;
            const selectedOption = selectedOptionArraySplit[1];
            document.getElementById("inputField").value = selectedOption;
            console.log(selectedOption)
        }
    }


    //UPDATE AMOUNT FIELD FOR DSTV
    function updateInputValueDstv() {
        const selectedOptionArray = document.getElementById("my-select-2").value;
        console.log(selectedOptionArray + " the array to be split")
        const selectedOptionArraySplit = selectedOptionArray.split(",");
        console.log(selectedOptionArraySplit)
        if (typeof selectedOptionArraySplit === "string" && selectedOptionArraySplit.trim().length === 0) {
            const selectedOption = "empty";
            document.getElementById("amount-others").value = selectedOption;
            console.log(selectedOption)
        } else {
            // const selectedOption = document.getElementById("selectOption").value;
            const selectedOption = selectedOptionArraySplit[1];
            document.getElementById("amount-others").value = selectedOption;
            console.log(selectedOption)
        }
    }


    //SHOW OR HIDE LOADERS
    function showLoader() {
        const loader = document.getElementById('loader');
        loader.style.display = 'block';
    }

    function hideLoader() {
        const loader = document.getElementById('loader');
        loader.style.display = 'none';
    }

    function showErrorMessageGotv() {
        const resultMessage = $('#resultMessageGotv')
        resultMessage.show();
    }

    function showErrorMessageDstv() {
        const resultMessage = $('#resultMessageDstv')
        resultMessage.show();
    }

    function showErrorMessageElect() {
        const resultMessage = $('#resultMessageElectricity')
        resultMessage.show();
    }

    function  hideConfirmGotv(){
        const resultMessage = $('#confirmGotv')
        resultMessage.hide();
    }
    function  hideConfirmDstv(){
        const resultMessage = $('#confirmDstv')
        resultMessage.hide();
    }
    function  hideConfirmElectricity(){
        const resultMessage = $('#confirmElectricity')
        resultMessage.hide();
    }
    document.addEventListener("DOMContentLoaded", function () {
        const toggleIcon = document.querySelector(".toggle-icon");
        const sidebar = document.querySelector(".sidebar");
        toggleIcon.addEventListener("click", function () {
            sidebar.classList.toggle("collapsed");
        });
    });

</script>

</body>
</html>