<!DOCTYPE html>
<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments :: header}">
    <title>Create Account</title></head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="col-xl-2 col-lg-2"></div>
        <div class="col-xl-8 col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title-create">Customer Information</h1>
                </div>
                <div class="card-body">
                    <div class="basic-form">
                        <form>
                            <div class="row mb-4">
                                <div class="col-sm-6">
                                    <label for="title"> Employment Status</label>
                                    <input id="title" type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col-sm-6 mt-2 mt-sm-0">
                                    <label for="mobile"> Employer Name</label>
                                    <input id="mobile" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-6">
                                    <label for="first-name"> Employer Address</label>
                                    <input id="first-name" type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col-sm-6 mt-2 mt-sm-0">
                                    <label for="last-name"> Employer City</label>
                                    <input id="last-name" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-6 mt-2 mt-sm-0">
                                    <label for="other"> Occupation</label>
                                    <input id="other" type="text" class="form-control" placeholder="">
                                </div>
                                <div class="col-sm-6">
                                    <label for="marital"> Employment Date</label>
                                    <input id="marital" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-sm-6">
                                    <label for="dob"> Retirement Date</label>
                                    <input id="dob" type="date" class="form-control" placeholder="">
                                </div>
                                <div class="col-sm-6">
                                    <label for="nationality"> Referred By</label>
                                    <input id="nationality" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                        </form>
                        <div class="text-center mb-4">
                            <button class="btn-block btn-login">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-2 col-lg-2"></div>


    </div>
</div>

</body>
</html>