<!DOCTYPE html>
<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments :: header}">
    <title>Create Account</title></head>
<body style="background: white">

<div class="text-center">
    <div class="text-center">
        <div class="card-fast-login">

            <div class="card-body">
                <div class="basic-form">
                    <form method="post" th:action="@{/register}" th:object="${registerForm1}">
                        <div th:if="${errorMessage}" class="alert-fast" role="alert">
                            <span th:text="${errorMessage}">Error message</span>
                        </div>
                        <div class="mb-2">
                            <a><img th:src="@{/images/logo.svg}" alt="Fast Credit" width="150" height="100"></a>
                        </div>

                        <div class=" register-left">Enter Mobile Number to Proceed
                        </div>
                        <div class="border-rectangle mb-5"></div>
                        <div class="mb-5">
                            <label for="phone" class="label-create"> Mobile Number</label>
                            <input id="phone" type="text" class="form-control" maxlength="11"
                                   th:field="*{mobileNumber}">
                        </div>
                        <div class="text-center mb-5">
                            <button class="btn-block btn-login" type="submit">Proceed</button>
                        </div>

                        <div class="text-center">
                            Already have an account? <a th:href="@{/login}" style="color: red">Login</a>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>