/*#029247   f2fcf5*/
.body-log {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh; !* Set the height of the body to the full viewport height *!*/
    margin: 0;
}

.award-login {
    position: relative;
    bottom: 700px;
    left: 300px;
}

.microfinance-img {
    position: relative;
    bottom: 300px;
}

.test {
    background-color: red;
    height: 100px;
    position: fixed;
    top: 105px;
    left: 110px;
    width: 110px;
}

.sidebar li a svg {
    /*width: 100%;*/
    height: 30px;
}


.input-fast {
    width: 450px;
    border: 2px solid #029247;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 15px;

}

.input-fast-txn {
    width: 350px;
    border: 2px solid #029247;
    height: 40px;
    border-radius: 10px;
}

.airtime-data-img-container {
    margin-bottom: 15px;
}

.airtime_icon-fast {
    margin-right: 20px;
    max-width: 15%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    border: 2px solid white;
}

.airtime-icon-fast.loaded {
    transform: scale(1);
}

.input-airtime {
    margin-bottom: 15px;
    margin-top: 15px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.airtime_icon-fast:focus {
    border: 2px solid #029247;
    padding: 10px;
}

.button-fast {
    background-color: #029247;
    border: 2px solid #029247;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 40px;
    color: white;
    position: relative;
    width: 55px;
    top: 12px;
    left: -5px;
    cursor: pointer;
}

.img-search-fast {
    height: 41px;
    color: white;
    position: relative;
    width: 55px;
    left: -65px;
    cursor: pointer;
}

.dashboard-container-main {
    /*border: 1px solid green;*/
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.buy-airtime {
    padding-bottom: 3rem;
    font-size: 13px;
    cursor: pointer;
    font-weight: 600;
    display: block;
    top: 8px;
    position: relative;
}

.submit-form {
    margin-bottom: 20px;
}

.submit {
    background-color: #029247;
    width: 350px;
    border: 0.0625rem solid #029247;
    padding: 0.3125rem 1.25rem;
    color: #fff;
    height: 2.6rem;
    border-radius: 5px;
}

.submit-form-2 {
    margin-bottom: 20px;
}

.submit-2 {
    background-color: #fff;
    /*width: 350px;*/
    border: none;
    padding: 0.3125rem 1.25rem;
    color: #fff;
    height: 2.6rem;

}


.balance {
    width: 260px;
    display: inline;
    /*align-items: center;*/
    /*height: 200px;*/
    /*color: #fff;*/
    /*font-weight: bolder;*/

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    width: 321px;
    height: 191px;
}

.show-bal {
    /*padding-top: 20px;*/
    /*padding-bottom: 60px;*/

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 129px;

    position: absolute;
    width: 284.19px;
    height: 22.36px;
    left: 13px;
    top: 53px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
}


.show-card {
    /*padding-bottom: 55px;*/

    position: absolute;
    width: 215px;
    height: 19px;
    left: 90px;
    top: 105px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    /* identical to box height, or 19px */

    color: #000000;

}

.show-name {
    font-family: 'Poppins', sans-serif;
    color: #029247;
    padding-bottom: 40px;
    left: 30px;
    position: relative;
}

.dashboard-container {
    background-color: rgba(203, 207, 210, 0.18);
    box-shadow: 0px 3px 4px 0px #888888;
    width: 120px;
    height: 120px;
    padding-top: 25px;
}

.request-loan {
    display: flex;
    float: left;
    align-items: center;
    /*#effaf0*/
    background-color: rgba(203, 207, 210, 0.18);
    box-shadow: 4px 3px 4px 1px #888888;
    width: 120px;
    height: 60px;
    /*top: 111px;*/
    /*position: absolute;*/
    /*top: 111px;*/
    /*position: absolute;*/

}

.repay-loan {
    display: flex;
    float: left;
    align-items: center;
    /*#effaf0*/
    background-color: rgba(203, 207, 210, 0.18);
    box-shadow: 4px 3px 4px 1px #888888;
    width: 120px;
    height: 60px;
    /*top: 111px;*/
    /*position: absolute;*/
    margin-bottom: 8px;
}

.data-fast {
    display: flex;
    float: left;
    align-items: center;
    background-color: #effaf0;
    background-color: rgba(203, 207, 210, 0.18);
    width: 120px;
    height: 120px;
    /*top: 111px;*/
    /*position: absolute;*/
}

.dashboard-container-svg {
    text-align: center;
}

.dashboard-container-svg svg {
    height: 2.8em;
    width: 2.8em;
    fill: #029247;
}

.data-fast svg {
    height: 2.8em;
    width: 2.8em;
    fill: #029247;
}

.img-data {
    position: absolute;
    margin-top: -17px;
    margin-left: 35px;
}

.dashboard-container-text {
    text-align: center;
    color: var(--bs-body-color);
    font-size: 12px;
    font-weight: bold;
}

.data-itself {
    position: absolute;
    margin-left: 27px;
    margin-top: 40px;
}

.airtime-title {
    font-size: 30px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #029247;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato Black";
    align-items: center;
    border-bottom: 1px solid #029247;
    padding: 10px;
}

.airtime-title svg {
    height: 40px;
}

.card-title-fast {
    font-size: 16px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #029247;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato Black";
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 9999;

}

.navbar {
    position: absolute;
    width: 1170px;
    height: 100px;
    left: 270px;
    top: 0px;

    /* White */
    background: #FFFFFF;
    /* Neutral/neutral100 */
    border-bottom: 1px solid #BABABB;

    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*padding: 10px;*/
    /*z-index: 9999;*/
}

.navbar-logo a {
    text-decoration: none;
    width: 200px;
    top: 10px;
    left: 10px;
}


.navbar-search {
    flex-grow: 1;
    text-align: center;
}

.navbar-icons {
    display: flex;
    align-items: center;
    margin-right: 60px;
}

.navbar-icons a {
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
}

.navbar-icons a i {
    margin-right: 5px;
}

.navbar-toggle {
    display: none;
}

.toggle-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin-bottom: 5px;
}

.login {
    padding: 0.938rem 1.5rem;
    width: 300px;
    /*height: 400px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid red;
    border-radius: 10px;
}

.login img {
    margin-left: 10px; /* Adjust the margin as needed */
}

.banner {
    /*margin-bottom: 20px;*/
    position: relative;
    /*background: url(/static/images/banner-clone.png);*/
    background-size: cover;
    background-color: green;
    height: 100vh;
}

.banner img {
    width: 100%;
    height: auto;
}

.mb-1 {
    margin-bottom: 0.25rem !important;
}

.img-fast {
    position: relative;
    left: -200px;
}

.sidebar-right-dashboard {
    box-sizing: border-box;
    position: fixed;
    width: 200px;
    height: 100vh;
    right: -6px;
    /*top: 80px;*/
    overflow-y: auto;
    background: red;
    /*#FFFFFF;*/
    border-right: 1px solid #BABABB;
    z-index: 1034;

    /*position: fixed;*/
    /*top: 85px; !* Adjust this value to match the height of the navbar *!*/
    /*left: 0;*/
    /*width: 110px;*/
    /*height: calc(100% - 60px); !* Adjust this value to account for the navbar height *!*/
    /*background-color: #029247;*/
    /*transition: transform 0.3s ease;*/
}

.sidebar {
    box-sizing: border-box;
    position: fixed;
    width: 200px;
    height: 100vh;
    left: 0px;
    top: 0px;
    overflow-y: auto;
    background: #FFFFFF;;
    /*#FFFFFF;*/
    border-right: 1px solid #BABABB;
    z-index: 1038;


    /*position: fixed;*/
    /*top: 85px; !* Adjust this value to match the height of the navbar *!*/
    /*left: 0;*/
    /*width: 110px;*/
    /*height: calc(100% - 60px); !* Adjust this value to account for the navbar height *!*/
    /*background-color: #029247;*/
    /*transition: transform 0.3s ease;*/
}

.sidebar.loaded {
    transform: scale(1);
}

.sidebar.collapsed {
    transform: translateX(-100%);
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar li a {
    color: #000;
    width: 180px;
    height: 30px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.sidebar li a:hover {
    background-color: #D0F6DF;
    width: 180px;
    height: 30px;
    color: #029247;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

.sidebar li a:checked {
    background-color: #023018;
    width: 110px;
    height: 70px;
    color: #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.sidebar li span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000000;
    font-size: 13px;
}

.sidebar li a i {
    margin-bottom: 5px;
}

.loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
}

.loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 6px solid #f3f3f3;
    border-top-color: #029247;
    animation: loader-rotation 1s linear infinite;
}

@keyframes loader-rotation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media (min-width: 900px) {
    .content-dashboard {
        /*margin-left: 200px; !* Adjust this value to match the sidebar width *!*/
        top: 70px;
        align-items: center;
        position: relative;
        padding: 30px 50px 0 50px;
        width: calc(100% - 170px);
        margin: 0 auto;
        left: 95px;
        bottom: 30px;
        /*overflow-y: auto;*/
        transition: all 400ms ease-in;
    }

    .content-dashboard.loaded {
        transform: scale(1);
    }

    .airtime-content {
        /*display: none;*/
        background-color: #fff;
        height: calc(100% - 60px);
        position: fixed;
        top: 105px;
        left: 110px;
        width: 260px;
        overflow-y: auto;
        align-items: center;

    }


    .pay-bills-content {
        display: none;
        background-color: #07542b;
        height: calc(100% - 60px);
        position: fixed;
        top: 105px;
        left: 110px;
        width: 150px;
        overflow-y: auto;
        align-items: center;

    }

    pay-bills-content-1 {
        /*display: none;*/
        background-color: #07542b;
        height: calc(100% - 60px);
        position: fixed;
        top: 105px;
        left: 110px;
        width: 150px;
        overflow-y: auto;
        align-items: center;

    }

    .airtime-form {
        /*height: 450px;*/
        background-color: #fbfbfb;
        margin: 10px 125px;
        border-radius: 4px;
        box-shadow: 4px 3px 10px 5px #888888;

    }

    .send-money-form {
        height: 700px;
        background-color: #fbfbfb;
        margin: 40px 235px;
        border-radius: 4px;
        box-shadow: 4px 3px 4px 1px #888888;

    }
}

.buy-airtime-form {
    margin-left: 2px;
    margin-bottom: 2px;
}

.form-control-login {
    background: #fff;
    border: 1px solid green;
    padding: 0.6rem 1.25rem;
    color: #6e6e6e;
    height: 2.5rem;
    width: 100%;
    border-radius: 0.3rem;
}

.otp-pin-input {
    align-items: center;
    text-align: center;
    width: 200px
}

.success-all {
    /*font-size: 40px;*/
    align-items: center;
    padding: 50px;
    /*border: 1px solid green;*/

}

.txn-successful {
    color: green;
    font-size: 30px;
    font-weight: 900;
}

.btn-login {
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    background-color: #029247;
    border: 1px solid #029247;
}

.img-banner {
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;

}

.card-title-create {
    font-weight: bold;
    color: black;
    text-transform: capitalize;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato Black", sans-serif;
}

.label-create {
    float: left;
}

.create-left {
    margin-left: -185px;
    color: black;
    font-size: 16px;
}

.border-rectangle {
    background: #023018;
    height: 4px;
    width: 2.5rem;
    border-color: #023018;
    margin-bottom: 0.75rem;
}

.input-align {
    text-align: center;
}

.register-left {
    display: flex;
    margin-left: -2px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.security-question {
    display: flex;
    margin-left: -2px;
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.register-left-2 {
    margin-left: -100px;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.card-title-open-account {

    font-weight: bold;
    color: black;
    text-transform: capitalize;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Lato Black", sans-serif;
    font-size: 17px;
}

/*.alert-danger-fast {*/
/*    border-color: #fee6ea;*/
/*    color: #f72b50;*/
/*    background-color: #fdd5dc;*/
/*}*/
.alert-fast {
    position: relative;
    padding: 1rem 1rem;
    background: #f72b50;
    color: #fff;
    border-color: #f72b50;
    margin-bottom: 1rem;
    /*border: 1px solid transparent;*/
    border-radius: 0.75rem;
    font-size: 12px;
    /*color: #fff;*/
    /*background-color: #fee6ea;*/
}

.if-error {
    width: 400px;
    height: 100px;
}

.login-params {
    margin-left: 15px;
}

.login-params-password-forgot {
    float: right;
}

.create-account {
    width: 500px;
}

.card-fast-login {
    width: 400px;
    background-position: center;
    background-color: white;
    transition: all .5s ease-in-out;
    position: relative;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px gray;
    height: calc(100% - 50px);
    padding: 20px;
    margin: 30px auto 1.875rem;
}

.card-fast {
    background-position: center;
    margin-bottom: 1.875rem;
    background-color: #fff;
    /*transition: all .5s ease-in-out;*/
    position: relative;
    border: 0px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 5px 4px 0px #888888;
    height: 200px;
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    min-width: 0;
    font-size: 15px;
    word-wrap: break-word;
    background-clip: border-box;
    align-items: center;
    bottom: 0;
    transition: 300ms ease-in;
    transition-property: bottom, box-shadow;
}

.card-balance {
    /*background-color: #9cba9c; 07542b*/
    background: linear-gradient(to top right, #66cc33, #07542b);

}

.card-fast.loaded {
    transform: scale(1);
}

@media (max-width: 767px) {
    .navbar-search,
    .navbar-icons {
        display: none;
    }

    .navbar-icons {
        display: flex;
        align-items: center;
    }

    .navbar-toggle {
        display: flex;
        align-items: center;
    }

    .navbar-logo {
        width: 200px;
        top: 10px;
        left: 10px;
    }

    .navbar-toggle .toggle-icon {
        cursor: pointer;
    }

    .sidebar {

        /*display: block;*/
        /*position: fixed;*/
        /*top: 105px; !* Adjust this value to match the height of the navbar *!*/
        /*left: 0;*/
        /*height: calc(100% - 60px); !* Adjust this value to account for the navbar height *!*/
        /*background-color: #029247;*/
        /*transform: translateX(-100%);*/
        /*z-index: 9998;*/

        box-sizing: border-box;

        position: absolute;
        width: 270px;
        height: 1024px;
        left: 0px;
        top: 0px;
        overflow-y: scroll;

        /* White */
        background: #FFFFFF;
        /* Neutral/neutral100 */
        border-right: 1px solid #BABABB;
    }

    .sidebar.collapsed {
        transform: translateX(0);
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 20px;
    }


    /*.sidebar {*/
    /*    display: none; !* Hide the sidebar on mobile devices *!*/
    /*}*/
    .content-dashboard {
        margin-left: 0; /* Reset the margin for the main content */
        align-items: center;
        top: 105px;
        position: fixed;
        padding: 30px 50px 0 50px;
        bottom: 30px;
        overflow-y: auto;
        transition: all 400ms ease-in;
    }

    .content-dashboard.loaded {
        transform: scale(1);
    }

    .airtime-content {
        /*display: none;*/
        background-color: #fff;
        height: calc(100% - 60px);
        position: fixed;
        top: 105px;
        overflow-y: auto;
        align-items: center;
    }


    .pay-bills-content {
        display: none;
        background-color: #07542b;
        height: calc(100% - 60px);
        position: fixed;
        top: 105px;
        overflow-y: auto;
        align-items: center;
    }

    .pay-bills-content-1 {
        display: none;
        background-color: #07542b;
        height: calc(100% - 60px);
        position: fixed;
        top: 105px;
        overflow-y: auto;
        align-items: center;
    }

    .airtime-form {
        height: 450px;
        background-color: #fbfbfb;
        margin: 2px 23px;
        border-radius: 4px;
        box-shadow: 4px 3px 4px 1px #888888;

    }

    .send-money-form {
        height: 450px;
        background-color: #fbfbfb;
        margin: 2px 23px;
        border-radius: 4px;
        box-shadow: 4px 3px 4px 1px #888888;

    }

    .login {
        width: 100%;
        height: 500px;
    }

    .show-img {
        display: none;
    }

    .banner {

        display: none;
    }

    .pad-div {
        margin-top: 15px;
    }

    .card-fast {
        margin-bottom: 0.938rem;
        height: calc(100% - 0.938rem);
        bottom: 0;
        transition: 300ms ease-in;
        transition-property: bottom, box-shadow;
    }

    /*.card-balance {*/
    /*    background-color: #9cba9c;*/
    /*}*/
    .card-fast.loaded {
        transform: scale(1);
    }
}

.account-dashboard {
    position: absolute;
    /*width: 72px;*/
    height: 30px;
    right: 122px;
    top: 20px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */
    /*text-transform: uppercase;*/

    color: #000000;
}

.ellipse-269 {
    box-sizing: border-box;

    position: absolute;
    width: 126.58px;
    height: 126.58px;
    left: 353.31px;
    top: 124.69px;

    /* Primary/primary800 */
    border: 22.9828px solid #014924;
    filter: blur(2.29828px);
    transform: rotate(170.09deg);
}

.icon-fast {
    position: relative;
    width: 24px;
    height: 24px;
    left: -70px;
    top: -6px;
}

.icon-text {
    width: 112px;
    height: 24px;
    position: relative;
    top: -22px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 24px */

    /* Neutral/neutral600 */
    /*color: #1C1D21;*/

}

.mini-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 22px 19px;
    gap: 10px;

    position: relative;
    width: 317.32px;
    height: 120.96px;
    left: -90px;
    top: 10px;

    /*background: #FFFFFF;*/
    border-radius: 8px;
}

.mini-mini-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.40706px 0px;
    gap: 25.66px;

    width: 279.32px;
    height: 90px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 5px;
}

.icons {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10.29px;

    width: 150px;
    height: 74.15px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 35px;
    background: blue;
    position: relative;
    top: -20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.icon-img {
    position: absolute;
    top: 10px;
}

.cust-name {
    color: #029247;
}

.cust-tier {
    color: #029247;
}

.cust-bvn {
    color: #029247;
}

.mini-icons-text {
    top: 75px;
    position: absolute;
}

.main-module-big {
    background: #f4f6f9;

}
.main-module-big-body{
    flex: 1 1 auto;
    padding: 1.25rem;
    /*box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);*/
    margin-bottom: 1rem;

    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /*background-color: #fff;*/
    background-clip: border-box;
    /*border: 0 solid rgba(0,0,0,.125);*/
    /*border-radius: 0.25rem;*/
    top: 80px;
}
.form-row{

    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.row-custom{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.send-money-icons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 31px;

    position: relative;
    width: 330px;
    height: 145px;
    left: calc(50% - 330px/2 - 0.5px);
    top: -10px;
}
.send-money-icons-left{
    width: 150px;
    height: 145px;

    /* Primary/primary25 */
    background: #D0F6DF;
    border-radius: 14.5px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.send-money-icons-right{
    width: 149px;
    height: 145px;

    /* Primary/primary25 */
    background: #D0F6DF;
    border-radius: 14.5px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.send-money-fcl-img{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7.25px;
    gap: 9.06px;

    width: 50.75px;
    height: 50.75px;

    /* Primary/primary25 */
    background: #D0F6DF;
    border-radius: 90.625px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    left: 45px;
}
.to-fcl-account{
    width: 77px;
    height: 44px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18.125px;
    line-height: 120%;
    /* or 22px */
    text-align: center;

    /* Neutral/neutral600 */
    color: #1C1D21;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    left: 30px;
    top: 70px;
}
.to-other-account{
    width: 77px;
    height: 44px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18.125px;
    line-height: 120%;
    /* or 22px */
    text-align: center;

    /* Neutral/neutral600 */
    color: #1C1D21;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    left: 215px;
    top: 70px;
}
.send-money-others-img{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7.25px;
    gap: 9.06px;

    width: 50.75px;
    height: 50.75px;

    /* Primary/primary25 */
    background: #D0F6DF;
    border-radius: 90.625px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    left: 218px;
}
.beneficiary-view{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: relative;
    /*width: 327px;*/
    max-height: 531px;
    left: calc(50% - 327px/2);
    top: 10px;

}
.view-beneficiary{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 172px;

    /*width: 327px;*/
    height: 17px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.beneficiary-list{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    /*width: 327px;*/
    max-height: 498px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.beneficiary-list-item{
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    gap: 74px;

    /*width: 327px;*/
    height: 20px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.beneficiary-text{
    margin: 0 auto;
    width: 90px;
    height: 17px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.view-all-text{
    margin: 0 auto;
    width: 46px;
    height: 14px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    /* or 14px */
    display: flex;
    align-items: center;
    text-align: right;

    /* Neutral/neutral400 */
    color: #4C4D50;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.mini-header{
    position: absolute;
    width: 195px;
    height: 19px;
    left: calc(50% - 195px/2);
    /*top: -30px;*/

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    text-align: center;

    color: #000000;
}
.transaction-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 38px;

    position: relative;
    /*width: 327px;*/
    height: 442px;
    left: 24px;
    top: 35px;
}
.transaction-process{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    /*width: 327px;*/
    height: 75px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.input-transaction{
    left: 4.89%;
    right: 59.02%;
    top: 32%;
    bottom: 34%;

    /* Body 2/Medium */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */
    display: flex;
    align-items: center;

    color: #BABABA;
}
.label-label{
    /*width: 119px;*/
    /*height: 17px;*/

    /* Montserrat/Body 2 */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */


    /* Neutral/neutral600 */
    color: #1C1D21;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.toggle-container {
    position: relative;
}

.toggle-input {
    display: none;
}

.toggle-label {
    display: block;
    width: 50px;
    height: 26px;
    background-color: #ddd;
    border-radius: 13px;
    position: absolute;
    cursor: pointer;
}

.toggle-label:before {
    content: '';
    display: block;
    width: 22px;
    height: 22px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label {
    background-color: #4CAF50;
}

.toggle-input:checked + .toggle-label:before {
    transform: translateX(24px);
}
.save-beneficiary{
    /* Body 2/Medium */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    /* identical to box height, or 17px */

    /* Neutral/neutral600 */
    color: #1C1D21;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}


/* Modal styles */
.modal-new {
    display: none;
    position: relative;
    top: -486px;
    left: 0;
    width: 100%;
    height: 75%;
    border-radius: 20px;
    background-color: #fff;
    border: 2px solid #4CAF50;
}

.modal-content-new {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    margin: 100px auto;
    /*text-align: center;*/
    position: relative;
    top: -75px;
}

.close {
    position: absolute;
    top: 0;
    right: 40px;
    padding: 10px;
    cursor: pointer;
    color: #292D32;
}
.confirm-details{
    padding-bottom: 15px;
}
.transaction-pin{
    /*width: 130px;*/
    /*height: 19px;*/

    /* Screens Title (16 Bold) */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */
    display: flex;
    align-items: center;
    text-align: center;

    /* Primary/primary500 (main) */
    color: #029247;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}
.authorize-pin{
    /* Poppins/Body 2 */
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */
    display: flex;
    align-items: center;

    /* Neutral/neutral400 */
    color: #4C4D50;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.input-pin{
    width: 100%;
    background-color: #F2F2F2;
    height: 50px;
    border: none;
    color: black;
    text-align: center;
}
.authorize-mb{
    margin-bottom: 9.5rem !important;
}
/*@media (min-width: 768px){*/
/*    .col-md-6 {*/
/*        float: left;*/
/*        width: 50%;*/
/*    }*/
/*}*/
