<!DOCTYPE html >
<html lang="en" class="h-100" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments :: header}">
    <script>
        window.onload = function() {
            if (window.history && window.history.pushState) {
                window.history.pushState('forward', null, './#forward');

                window.onpopstate = function() {
                    if (window.location.hash === '#forward') {
                        window.history.forward();
                    }
                };
            }
        };
    </script>
    <title>Sign Up</title></head>

<body>
<div class="loader" id="loader">
    <div class="loader-inner"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-lg-8 col-xl-8 col-xs-12">
            <div class="banner">

            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-lg-3 col-xl-3 col-xs-12">
            <div class="" th:object="${loginForm}">
                <div th:if="${errorMessage}" class="alert-fast" role="alert">
                    <span th:text="${errorMessage}">Error message</span>
                </div>
                <div class="text-center mb-5">
                    <a><img th:src="@{/images/logo.svg}" alt="Fast Credit" width="200" height="100"></a>
                </div>
                <form method="post" th:action="@{/login}" id="loginForm">
                    <div class="mb-5">
                        <label class="mb-1"><span class="fa fa-user"></span><span class="login-params"> Mobile Number</span></label>
                        <input type="text" class="form-control-login" style="background-color: #D1D0CE;"
                               th:field="*{mobileNumber}">
                    </div>
                    <div class="mb-5 password-container">
                        <label class="mb-1" for="password"><span class="fa fa-lock"></span><span class="login-params">
                             Password</span></label> <span class="login-params-password-forgot">Forgot Password</span>
                        <input id="password" type="password" class="form-control-login"
                               style="background-color: #D1D0CE;" th:field="*{password}">
                        <i id="eye-icon" class="fas fa-eye password-toggle" onclick="togglePasswordVisibility()"></i>
                    </div>
                    <div class="row d-flex justify-content-between mt-4 mb-2">

                    </div>
                    <div class="text-center mb-5">
                        <a>
                            <button type="submit" class="btn-block btn-login">Login</button>
                        </a>
                    </div>
                </form>
                <div class="new-account">
                    <p>Don't have a profile yet? <a class="text-primary" th:href="@{/register}">Register</a>
                    </p>
                    <p><a class="text-primary" th:href="@{/register}">Forgot Password?</a></p>
                    <p>You do not have an account? <a class="text-primary"
                                                      th:href="@{/open-account}">Create Account</a></p>
                </div>
            </div>
        </div>
    </div>

</div>


<!--**********************************
    Scripts
***********************************-->


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const loader = document.getElementById('loader');

        function showLoader() {
            loader.style.display = 'block'; // Show the loader
        }

        function hideLoader() {
            loader.style.display = 'none'; // Hide the loader
        }

        const form = document.getElementById('loginForm');
        form.addEventListener('submit', showLoader); // Show the loader when the form is submitted

        window.addEventListener('load', hideLoader); // Hide the loader when the page finishes loading
    });
</script>


<script th:inline="javascript">
    function togglePasswordVisibility() {
        const passwordInput = document.getElementById('password');
        const eyeIcon = document.getElementById('eye-icon');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    }
</script>

</body>
</html>